html,
body {
  padding: 0;
  margin: 0;
  font-family:Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, serif;
  background-color: #FAF0E6;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.navbar{
	background-color: #FAF0E6;
	
}

.landingPage{
	background-color:#8B4513;
	color:white;
	text-align: center;
	margin-top: 30px;
	padding:30px;
	border: solid brown;
	margin-bottom: 30px;

}
.landingTitle{
	font-size: 3rem;
	text-align: center
}
.landingText,.infoText{
	font-family: Roboto,sans-serif;
	text-align: center

}
.infoTitle,.infoText{
	color:#8B4513;
	text-align: center;

}
.paragraph{
	text-align: justify;
}
.insightlabel{
	background-color: #8B4513;
	color:#FAF0E6;
	padding: 10px;
	border-radius: 10px;
}
